body {
    background-color: rgb(42, 42, 42);
}

h1 {
    text-align: center;
    color: rgb(255, 255, 228)
}

h2 {
    text-align: center;
    color: rgb(255, 255, 228);
    font-size: 17px;
}

#videoww {
    transition: transform 0.5s;
    transform-origin: center;
    margin-right: 16px;
    width: 320px;
    height: 240px;
}

#videoww:hover {
    transform: scale(1.2);
}

#videodm {
    transition: transform 0.5s;
    transform-origin: center;
    margin-left: 16px;
    margin-right: 16px;
    width: 320px;
    height: 240px;
}

#videodm:hover {
    transform: scale(1.2);
}

#videosn {
    transition: transform 0.5s;
    transform-origin: center;
    margin-left: 16px;
    width: 320px;
    height: 240px;
}

#videosn:hover {
    transform: scale(1.2);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top3 {
    text-align: center;
    color: rgb(255, 255, 228);
}

.divform {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
}

input[type="text"], input[type="submit"], input[type="email"] {
    margin: 10px 0;
}
span {
    color: rgb(255, 255, 228);
}

button {
    height: 30px;
    width: 100px;
}

.span-animado {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: rgb(50, 50, 50);
    color: white;
    border-radius: 5px;
    opacity: 0; 
    transition: all 0.5s ease-out;
}

.span-visivel {
    bottom: 20px;
    opacity: 1;
}

@media screen and (max-width: 800px) {
    body {
        background-color: rgb(42, 42, 42);
    }

    h1 {
        text-align: center;
        color: rgb(255, 255, 228)
    }

    h2 {
        text-align: center;
        color: rgb(255, 255, 228);
        font-size: 17px;
    }

    #videoww {
        transition: transform 0.5s;
        transform-origin: center;
        width: 320px;
        height: 240px;
        margin: 0px;
    }

    #videoww:hover {
        transform: scale(1.2);
    }

    #videodm {
        transition: transform 0.5s;
        transform-origin: center;
        width: 320px;
        height: 240px;
        margin: 0px;
    }

    #videodm:hover {
        transform: scale(1.2);
    }

    #videosn {
        transition: transform 0.5s;
        transform-origin: center;
        width: 320px;
        height: 240px;
        margin: 0px;
    }

    #videosn:hover {
        transform: scale(1.2);
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .top3 {
        text-align: center;
        color: rgb(255, 255, 228);
    }
}