body {
    background-color: rgb(42, 42, 42);
}

h1 {
    text-align: center;
    color: rgb(255, 255, 228)
}

h2 {
    text-align: center;
    color: rgb(255, 255, 228);
    font-size: 17px;
}

#videoww {
    transition: transform 0.5s;
    transform-origin: center;
    margin-right: 16px;
    width: 320px;
    height: 240px;
}

#videoww:hover {
    transform: scale(1.2);
}

#videodm {
    transition: transform 0.5s;
    transform-origin: center;
    margin-left: 16px;
    margin-right: 16px;
    width: 320px;
    height: 240px;
}

#videodm:hover {
    transform: scale(1.2);
}

#videosn {
    transition: transform 0.5s;
    transform-origin: center;
    margin-left: 16px;
    width: 320px;
    height: 240px;
}

#videosn:hover {
    transform: scale(1.2);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top3 {
    text-align: center;
    color: rgb(255, 255, 228);
}

@media screen and (max-width: 800px) {
    body {
        background-color: rgb(42, 42, 42);
    }

    h1 {
        text-align: center;
        color: rgb(255, 255, 228)
    }

    h2 {
        text-align: center;
        color: rgb(255, 255, 228);
        font-size: 17px;
    }

    #videoww {
        transition: transform 0.5s;
        transform-origin: center;
        width: 320px;
        height: 240px;
        margin: 0px;
    }

    #videoww:hover {
        transform: scale(1.2);
    }

    #videodm {
        transition: transform 0.5s;
        transform-origin: center;
        width: 320px;
        height: 240px;
        margin: 0px;
    }

    #videodm:hover {
        transform: scale(1.2);
    }

    #videosn {
        transition: transform 0.5s;
        transform-origin: center;
        width: 320px;
        height: 240px;
        margin: 0px;
    }

    #videosn:hover {
        transform: scale(1.2);
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .top3 {
        text-align: center;
        color: rgb(255, 255, 228);
    }
}